<nav class="navbar navbar-default">
<%= link_to "Browse the film introductions", static_pages_show_path, {class: "navbar-text"} %>
<%= link_to "Create a new introduction!", new_opening_crawl_i_path, {class: "navbar-text"} %>
</nav>