<%= link_to "Back to Other Openers", :back %>

<div class= "galaxy-words">
  <p> A long time ago, in a Galaxy far, far away...</p>
</div>

<p class= "intro-words text-center"><%= @intro.intro_words %> </p>

<%= link_to "Back to Other Openers", :back %>

