<%= link_to "Back to Other Openers", :back %>
<%= link_to "Send someone this!", get_number_path(@intro.id) %>

<div class= "galaxy-words">
  <p> A long time ago, in a Galaxy far, far away...</p>
</div>

<p class= "intro-words text-center"><%= @intro.intro_words %> </p>

<%= link_to "Back to Other Openers", :back %>

